@keyframes show_button_message {
  0% {
    opacity: 0;
    bottom: 30px;
  }
  20% {
    bottom: 60px;
    opacity: 1;
  }
  80% {
    opacity: 1;
    bottom: 60px;
  }
  100% {
    opacity: 0;
    bottom: 30px;
  }
}