@keyframes show_details_photo_slowly {
    from {
        transform: scale(0.7);
    }
    to {
        transform: scale(1);

    }
}

@keyframes show_details_info_slowly {
    from {
        right: -800px;
        opacity: 0;
    }
    to {
        right: 0;
        opacity: 1;

    }
}
